@font-face {
    font-family: 'LiberationSans';
    src: url(../font/LiberationSans.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
}

@font-face {
    font-family: 'LiberationSans';
    src: url(../font/LiberationSans-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
    font-display: fallback;
}