@import './_font';

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
  font-family: "LiberationSans",sans-serif;
  font-feature-settings: "onum" off, "pnum" off, "lnum" on, "tnum" on;
  -moz-font-feature-settings: "onum=0, pnum=0, lnum=1, tnum=1";       /* Firefox */
  -webkit-font-feature-settings: "onum" off, "pnum" off, "lnum" on, "tnum" on;  /* WebKit */
  -o-font-feature-settings: "onum" off, "pnum" off, "lnum" on, "tnum" on;  
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
  }
  
  .bodyStopScroll {
    overflow: hidden;
    height: 100vh;
  }
  
  ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  a:hover {
    color: inherit;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
  }
  
  button {
    outline: none;
    border: none;
    padding: 0;
  }
  
  input, textarea, select, button {
    border: none;
    outline: none;
  }
  
  .container {
    max-width: 1480px;
    padding: 0 20px;
  }

  .title-text {
    font-size: 36px;
    line-height: 40px;
    font-weight: 600;
    text-transform: uppercase;
  }


  .header {
   background-image: url(../img/png/header.png);
   background-size: cover;
   background-repeat: no-repeat;
   padding: 22px 0;
   color: #fff;
   position: relative;
   z-index: 99;
   &-logo {
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline-block;
    margin-right: 24px;
   }
   .menu-btn {
    width: 58px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.40);
    cursor: pointer;
    img {
      &:last-child {
        display: none;
      }
    }
   }
   .clickedMenu {
    img {
      &:first-child {
        display: none;
      }
      &:last-child {
        display: block;
      }
    }
   }
   .search {
    width: 100%;
    margin: 0 40px 0 50px;
    position: relative;
    &-icon {
      position: absolute;
      top: 13px;
      right: 13px;
    }
    &__inp {
      width: 100%;
      height: 58px;
      padding: 19px 100.39px 18px 20px;
      background: #fff;
      border-radius: 12px;
      transition: .3s all;
      border: 2px solid #fff;
      color: #242424;
      font-size: 18px;
      &::placeholder {
        color: #A9A8B0;
      }
      &:focus {
        border-color: #3B4DBE;
      }
    }
   }
   &-link {
    color: #FFFFFF99;
    font-size: 14px;
    margin-right: 20px;
    height: 50px;
    &:last-child {
      margin-right: 0;
    }
    &:first-child {
      padding-top: 4px;
    }
   }

   .menu {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100vh;
    background: #0009;
    display: none;
    &-content {
      width: 325px;
      height: 100vh;
      background: #fff;
      transition: .4s all;
      animation: menu .3s;
    }
    @keyframes menu {
      from {
        margin-left: -350px;
      }
      to {
        margin-left: 0;
      }
    }
    .menu-nav {
      padding: 40px 0;
      position: relative;
      color: #242424;
      .menu-list {
        .menu-list_div {
          display: flex;
          align-items: center;
          color: #242424;
          font-size: 16px;
          padding: 11px 10px;
          border-radius: 10px;
          position: relative;
          cursor: pointer;
          margin: 0 20px;
          img {
            margin-right: 10px;
          }
          &::after {
            content: url('../img/svg/next.svg');
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 10px;
            display: none;
          }
        }
        &:hover {
          .menu-list_div {
            background: #EBF0FF;
            &::after {
              display: block;
            }
          }
        }
        .list-item {
          position: absolute;
          left: 100%;
          top: 0;
          width: 325px;
          height: 100vh;
          background: #fff;
          border-left: 1px solid #9D9DA5;
          padding: 40px 10px;
          display: none;
          .item-title {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 10px;
            padding-left: 10px;
          }
          .list {
            .list_li span {
              display: flex;
              font-size: 16px;
              padding: 11px 10px;
              border-radius: 10px;
              position: relative;
              cursor: pointer;
              &::after {
                content: url('../img/svg/next.svg');
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 10px;
                display: none;
              }
              &:hover {
                background: #EBF0FF;
                &::after {
                  display: block;
                }
              }
              }
              .list_li a {
                padding: 10px;
                border-radius: 10px;
                display: flex;
                width: 100%;
                &::after {
                  opacity: 0;
                }
                &:hover {
                  background: #EBF0FF;
                }
              }
              .back-btn {
                background: transparent;
                padding: 11px 10px;
                border-radius: 10px;
                margin-bottom: 10px;
                img {
                  margin-right: 10px;
                }
                &:hover {
                  background: #EBF0FF;
                }
              }
              .list-links {
                li {
                  padding: 0 10px;
                  border-radius: 10px;
                  margin-bottom: 0;
                  &::after {
                    opacity: 0;
                  }
                  &:hover {
                    background: #EBF0FF;
                  }
                  }
                }
              
              .list-inf0 {
                display: none;
              }
            }
          }
          .showList {
            .item-title {
              display: none;
            }
            .list {
              .item-title {
                display: block;
              }
              .list_li span {
                display: none;
              }
              .list-inf0 {
                display: block;
              }
            }
          }
          &:hover {
           .list-item {
             display: block;
           }
          }
        }
      }
    }

    .showMenu {
      display: block;
      .menu-content {
        margin-left: 0;
      }
    }

    .header-mobile {
      position: fixed;
      bottom: 0;
      left: 0;
      z-index: 99;
      width: 100%;
      height: 50px;
      padding: 15px 40px;
      background: #FFF;
      box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.08);
      .menu_btn {
        background: transparent;
      }
    }
   }

  .main {
    .banner {
      margin: 70px 0 40px;
      &-img {
        width: 100%;
        object-fit: contain;
      }
    }

    .products {
      margin-bottom: 170px;
      &-view {
        .view-small {
          margin-right: 12px;
          opacity: 0.3;
        }
        .view-all {
          opacity: 0.3;
        }
        .active {
          opacity: 1;
        }
      }
      .products-box {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 30px;
        margin-top: 40px;
      }
      .product {
        &-link {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 2;
        }
        &-photo {
          width: 100%;
          height: 287px;
          border-radius: 20px;
          overflow: hidden;
          .photo {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
          }
          .heart-btn {
            background: transparent;
            position: absolute;
            top: 9.5px;
            right: 8.5px;
            z-index: 3;
            transition: .3s all;
            &:hover {
              transform: scale(1.2);
            }
          }
          .clickHeart {
            svg {
              path {
                fill: red;
              }
              animation: anim-heart .3s linear;
            }
          }
          @keyframes anim-heart {
            from {
              transform: scale(1);
            }
            to {
              transform: scale(1.5);
            }
          }
          .product-offer {
            position: absolute;
            z-index: 3;
            bottom: 10px;
            left: 10px;
            font-size: 12px;
            line-height: 14px;
            text-transform: uppercase;
            font-weight: 700;
            color: #fff;
            .sale {
              border-radius: 6px;
              background: #9C01A2;
              padding: 1px 4px;
              display: inline-block;
              margin-bottom: 5px;
            }
            .good-price {
              border-radius: 6px;
              background: linear-gradient(90deg, #3B4DBE 0%, #0589DC 97%);
              padding: 1px 4px;
              img {
                margin-right: 4px;
                margin-top: -1px;
              }
            }
          }
        }
        &-info {
          padding-top: 12px;
          font-size: 14px;
          color: #868695;
        }
        &-price {
          .price-activ {
            color: #3B4DBE;
            font-size: 18px;
            font-weight: 700;
            line-height: normal;
            display: inline-block;
            margin-right: 5px;
          }
        }
        &-name {
          margin: 7px 0;
          overflow-wrap: break-word;
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          display: -webkit-box;
          .name {
            color: #242424;
          }
        }
        &-rating {
          .rating {
            color: #242424;
          }
          .dote {
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background: #9D9DA5;
            margin: 0 5px;
          }
        }
        .addTo-cart {
          width: 100%;
          height: 36px;
          border-radius: 10px;
          background: #3B4DBE;
          color: #fff;
          font-size: 14px;
          font-weight: 700;
          line-height: normal;
          margin-top: 15px;
          transition: .3s all;
          position: relative;
          z-index: 4;
          img {
            margin-right: 10px;
            width: 18px;
          }
          &:hover {
            background: #0589DC;
          }
        }
      }
    }
    .viewProducts {
      grid-template-columns: repeat(4, 1fr) !important;
      .product {
        &-photo {
          height: 451px;
        }
      }
    }
  }

  .footer {
    background: #D3D4DD3D;
    padding: 40px 0 70px;
    color: #868695;
    &-box {
      width: 50%;
    }
    &-item {
      .item-title {
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        color: #242424;
      }
      .footer-nav {
        li {
          margin-top: 8px;
          &:hover {
            color: #0589DC;
          }
        }
      }
    }
    .footer-sub {
      margin-top: 30px;
      .sub-text {
        a {
          border-bottom: 1px dashed #868695;
          &:hover {
            color: #0589DC;
            border-color: #0589DC;
          }
        }
      }
      .socials {
        .social {
          width: 32px;
          height: 32px;
          border-radius: 5px;
          background: #fff;
          display: flex;
          align-items: center;       
          justify-content: center;
          margin-right: 8px;
          transition: .3s all;
          &:last-child {
            margin-right: 0;
          }
          &:hover {
            background: #EAEAEA;
          }
        }
      }
    }
  }



  // START pop-up
  .popUp {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #0009;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    &-close {
      position: absolute;
      top: 28px;
      right: 28px;
      background: transparent;
      transition: .3s all;
      &:hover {
        transform: rotate(180deg);
      }
    }
    &-content {
      width: 456px;
      border-radius: 20px;
      background: #fff;
      padding: 31px 28px 27px;
      position: relative;
      animation: popUp-anim .3s linear;
      .form {
        &-title {
          span {
            font-size: 12px;
            line-height: 14.5px;
            color: #0008;
          }
          p {
            font-size: 22px;
            line-height: 26.5px;
            color: #000;
          }
        }
        &-checks {
          margin: 20px 0 18px;
          &__title {
            font-size: 16px;
            line-height: 19px;
            font-weight: 400;
            margin-bottom: 10px;
          }
          .check {
            display: flex;
            align-items: center;
            &:first-child {
              margin-right: 30px;
            }
            input[type="radio"] {
              appearance: none;
              width: 18px;
              height: 18px;
              border-radius: 50%;
              border: 1px solid #B1B1B1;
              margin-right: 8px;
              position: relative;
              cursor: pointer;
              &::before {
                content: '';
                display: none;
                min-width: 12px;
                min-height: 12px;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: linear-gradient(0deg, #24A363 -79.63%, #4BDD48 160.19%);
              }
            }
            label {
              cursor: pointer;
            }
            input[type="radio"]:checked {
              border: 1px solid #24A363;
            }
            input[type="radio"]:checked::before {
              display: block;
            }
          }
        }
        &_select {
          position: relative;
          margin-bottom: 12px;
          .select {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 50px;
            border-radius: 50px;
            border: 1px solid #EAEAEA;
            background: #F9F9F9;
            padding: 0 12px;
            cursor: pointer;
            &-active {
              font-size: 16px;
              line-height: 19px;
              color: #000;
            }
            svg {
              transition: .2s all;
            }
          }
          .options {
            position: absolute;
            left: 0;
            top: 100%;
            width: 100%;
            max-height: 120px;
            overflow-y: scroll;
            border: 1px solid #EAEAEA;
            border-top: none;
            background: #F9F9F9;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            display: none;
            z-index: 3;
            &::-webkit-scrollbar {
              width: 4px;
              background: transparent;
            }
            &::-webkit-scrollbar-thumb {
              background: #5E6D6D;
            }
            li {
              padding: 5px 15px;
              cursor: pointer;
              font-size: 16px;
              line-height: 20px;
              &:hover {
                background: #43C56F;
                color: #fff;
              }
              &:first-child {
                padding-top: 10px;
              }
              &:last-child {
                padding-bottom: 10px;
              }
            }
          }
        }
        .showOptions {
          .select {
            border-radius: 10px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            svg {
              transform: rotate(180deg);
            }
          }
          .options {
            display: block;
          }
        }
        &-box {
          margin-bottom: 12px;
          img {
            position: absolute;
            top: 16px;
            right: 13px;
          }
          input {
            width: 100%;
              height: 50px;
              border-radius: 50px;
              border: 1px solid #EAEAEA;
              background: #F9F9F9;
              padding: 0 12px;
              font-size: 16px;
              &::placeholder {
                color: #000;
              }
              &:focus {
                border-color: #43C56F;
              }
          }
        }
        .form-btn {
          width: 100%;
          height: 50px;
          border-radius: 50px;
          background: linear-gradient(92deg, #2CB570 -28.74%, #43C56F 34.53%, #43E040 99.14%);
          font-size: 18px;
          font-weight: 500;
          color: #fff;
          margin-top: 60px;
          span {
            margin-right: 10px;
          }
          &:hover {
            background: #5A6069;
          }
        }
      }

      .form__title {
        font-weight: 500;
        font-family: 'Raleway', sans-serif;
        font-size: 22px;
        line-height: 26px;
        color: #113A1D;
        margin-bottom: 24px;
      }
      .form__subtitle {
        font-weight: 500;
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        line-height: 19px;
        color: #113A1D;
      }
      &:last-child {
        padding: 52px 48px 37px;
      }
    }
  }
  .popUp-call {
    .popUp-content {
      padding: 52px 48px 37px;
    }
    .form-box {
      margin-bottom: 16px;
      label {
        font-size: 16px;
        line-height: 20px;
        font-weight: 500;
        margin-bottom: 12px;
      }
    }
    .form-btn {
      margin-top: 26px !important;
    }
  }
  .popUpHide  {
    animation: popUp-anim-hide .5s linear !important;
  }
  // END pop-up

  @keyframes popUp-anim {
    from {
      transform: scale(0);
    } to {
      transform:  scale(1);
    }
  }

  @keyframes popUp-anim-hide {
    from {
      transform: scale(1);
    } to {
      transform:  scale(0);
    }
  }

  @keyframes menu-anim {
    from {
      margin-left: -400px;
    } to {
      margin-left: 0;
    }
  }

  @keyframes menu-anim-hide {
    from {
      margin-left: 0;
    } to {
      margin-left: -400px;
    }
  }

  


  @import './_media'